<a href="https://colab.research.google.com/github/jamesgcastrof/santander_coders2023_projeto_final_logica_de_programacao/blob/main/Projeto_Final_Sistema_de_Controle_Financeiro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Projeto Final - Sistema de Controle Financeiro**
### Grupo 1:
Marcela Garcia


Andre Rizzo


James Castro

Guilherme Bezerra

Lucas Teixeira Souza

## Import

In [ ]:
import os
import datetime
import csv
import json

## **Operação 1**
### Criar novos registros e identificar a data que o registro foi feito

In [ ]:
registros = []

In [ ]:
def criar_registro(tipo, valor, taxa=None):
    registro = {}
    data = datetime.datetime.now()

    registro["tipo"] = tipo.lower()
    registro["data"] = datetime.datetime.now()
    registro["dia"], registro["mes"], registro["ano"] = data.day, data.month, data.year
    registro["valor"] = -float(valor) if tipo == 'despesas' else float(valor)
    registro["montante"] = valor if tipo == "investimento" else None
    registro["taxa"] = taxa

    registros.append(registro)

In [ ]:
# Testando a função criar_registro
criar_registro('Receita', 1000)
criar_registro('Receita', 100)
criar_registro('Receita', 10)
criar_registro('Despesas', 500)
criar_registro('Despesas', 50)
criar_registro('Despesas', 5)
criar_registro('Investimento', 1500, 0.05)
criar_registro('Investimento', 150, 0.04)
criar_registro('Investimento', 1000, 0.06)
registros

[{'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950420),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950462),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 100.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950493),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 10.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950531),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 500.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950557),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 50.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950583),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 5.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950613),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1500.0,
  'montante': None,
  'taxa': 0.05},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950640),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 150.0,
  'montante': None,
  'taxa': 0.04},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950691),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': 0.06}]

## **Operação 2**
### Ler registros

In [ ]:
def ler_registros(data=None, tipo=None, valor=None):
    def verifica_filtro(registro):
        return (
            (data is None or registro["data"].strftime("%x") == data.strftime("%x")) and
            (tipo is None or registro["tipo"] == tipo) and
            (valor is None or registro["valor"] == valor)
        )

    registros_pesquisa = [registro for registro in registros if verifica_filtro(registro)]
    return registros_pesquisa

In [ ]:
ler_registros()

[{'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950420),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950462),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 100.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950493),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 10.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950531),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 500.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950557),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 50.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950583),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 5.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950613),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1500.0,
  'montante': None,
  'taxa': 0.05},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950640),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 150.0,
  'montante': None,
  'taxa': 0.04},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950691),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': 0.06}]

In [ ]:
ler_registros(tipo='receita')

[{'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181312),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181407),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 100.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181467),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 10.0,
  'montante': None,
  'taxa': None}]

In [ ]:
ler_registros(valor=1500)

[{'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181670),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 1500.0,
  'montante': None,
  'taxa': 0.05}]

In [ ]:
ler_registros(data=datetime.datetime.now())

[{'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181312),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181407),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 100.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181467),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 10.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181519),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 500.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181577),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 50.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181621),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 5.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181670),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 1500.0,
  'montante': None,
  'taxa': 0.05},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181716),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 150.0,
  'montante': None,
  'taxa': 0.04},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 26, 23, 29, 27, 181760),
  'dia': 26,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': 0.06}]

## Operação 3
### Atualizar registros

In [ ]:
def atualizar_registro(id, valor=None,tipo=None):
  #data = datetime.date.today()

  if 0 <= id < len(registros):
    registro = registros[id]
    if valor != None:
      registro['valor'] = valor
    if tipo != None:
      registro['tipo'] = tipo.lower()
      if registro['tipo'] == 'Despesas' and registro['valor'] > 0:
              registro['valor'] = -registro['valor']
    if valor == None and tipo == None:
      print('Insira um Valor ou um Tipo para ser alterado no registro.')

  registros[id]['data'] = datetime.datetime.now()
  registros[id]['dia'] = registros[id]['data'].day
  registros[id]['mes'] = registros[id]['data'].month
  registros[id]['ano'] = registros[id]['data'].year

In [ ]:
# Testando a função atualizar_registro
atualizar_registro(0, 200, 'Despesas')
registros[0]

{'tipo': 'despesas',
 'data': datetime.datetime(2024, 1, 29, 10, 44, 26, 69353),
 'dia': 29,
 'mes': 1,
 'ano': 2024,
 'valor': 200,
 'montante': None,
 'taxa': None}

## Operação 4
### Deletar registros

In [ ]:
# Função que deleta um registro com o id especificado.
# A função recebe um id e verifica se ele é válido.
# Se for válido, o registro correspondente é excluído.
# Se não for válido, a mensagem "Índice inválido" é exibida.

def deletar_registro(id):
    if 0 <= id < len(registros):
        del registros[id]
    else:
        print("Índice inválido")

In [ ]:
# Testando a operação
deletar_registro(0)
registros

[{'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950462),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 100.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'receita',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950493),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 10.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950531),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 500.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950557),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 50.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'despesas',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950583),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 5.0,
  'montante': None,
  'taxa': None},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950613),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1500.0,
  'montante': None,
  'taxa': 0.05},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950640),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 150.0,
  'montante': None,
  'taxa': 0.04},
 {'tipo': 'investimento',
  'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950691),
  'dia': 29,
  'mes': 1,
  'ano': 2024,
  'valor': 1000.0,
  'montante': None,
  'taxa': 0.06}]

## Outras funcionalidades
### 1. Atualiza rendimento/investimento

In [ ]:
def atualiza_rendimento(id):
    if 0 <= id < len(registros):
        registro = registros[id]
        if registro['tipo'] == 'investimento':
            t = (datetime.datetime.now() - datetime.datetime(registro['ano'], registro['mes'], registro['dia'])).days
            registro['montante'] = registro['valor'] * (1 + registro['taxa']) ** t
        else:
            print('Registro indicado não corresponde à um registro de Investimento')

In [ ]:
# Testando a operação

atualiza_rendimento(6)
registros[6]

{'tipo': 'investimento',
 'data': datetime.datetime(2024, 1, 29, 10, 43, 30, 950640),
 'dia': 29,
 'mes': 1,
 'ano': 2024,
 'valor': 150.0,
 'montante': 150.0,
 'taxa': 0.04}

### 2. Exporta relatório

In [ ]:
def exportar_relatorio(formato, registros):
    campos = ["tipo", "dia", "mes", "ano", "valor", "montante", "taxa"]

    if formato == "csv":
        with open("relatorio.csv", "w", newline='') as f:
            writer = csv.DictWriter(f, fieldnames=campos)
            writer.writeheader()
            for registro in registros:
                writer.writerow({campo: registro[campo] for campo in campos})
    elif formato == "json":
        with open("relatorio.json", "w") as f:
            relatorio_json = [
                {campo: registro[campo] for campo in campos} for registro in registros
            ]
            json.dump(relatorio_json, f, indent=4)
    else:
        raise Exception('Formato de arquivo inválido. Só são aceitos os formatos csv e json')

In [ ]:
exportar_relatorio('csv', registros)

### 3. Função de agrupamento

In [ ]:
#Agrupa os registros financeiros com base em uma chave específica.

def agrupar_por_chave(chave):
    agrupamento = {}
    for registro in registros:
        valor_chave = registro[chave]
        if valor_chave in agrupamento:
            agrupamento[valor_chave]['total_valor'] += registro['valor']
        else:
            agrupamento[valor_chave] = {'total_valor': registro['valor'], 'quantidade': 1}
    return agrupamento

In [ ]:
agrupar_por_chave('tipo')

{'receita': {'total_valor': 110.0, 'quantidade': 1},
 'despesas': {'total_valor': 555.0, 'quantidade': 1},
 'investimento': {'total_valor': 2650.0, 'quantidade': 1}}

In [ ]:
#Funcao agrega por total em cada mes e tipo
def agrupar_por_tipo_mes():
    meses = {1: 'jan', 2: 'fev', 3: 'mar', 4: 'abr', 5: 'mai', 6: 'jun', 7: 'jul', 8: 'ago', 9: 'set', 10: 'out', 11: 'nov', 12: 'dez'}
    agrupamento = {}
    for registro in registros:
        if registro['tipo'] in ['investimento', 'despesas', 'receita']:
            if registro['tipo'] not in agrupamento:
                agrupamento[registro['tipo']] = {}
            mes = meses[registro['mes']]
            if mes not in agrupamento[registro['tipo']]:
                agrupamento[registro['tipo']][mes] = 0
            agrupamento[registro['tipo']][mes] += registro['valor']
    return agrupamento

In [ ]:
agrupar_por_tipo_mes()

{'receita': {'jan': 110.0},
 'despesas': {'jan': 555.0},
 'investimento': {'jan': 2650.0}}